body {
    font-family:'Courier',monospace;
    margin:0 0 0 240px;
    padding:10px;
}

td, th {
    border: 1px solid black;
    padding: 3px 10px;
    text-align: left;
}

.header {
    position:fixed;
    color:white;
    width:220px;
    background-color:black;
    height:100%;
    left:0;
    top:0;
    padding:0 10px;
}

.header a {
    color:white;
}

.header ul {
    padding:0;
}

.header li {
    list-style:none;
}

.header li a {
    display:block;
    width:100%;
    padding:3px 10px;
}

.header li .current, .header li a:hover {
    background-color:white;
    color:black;
}